@media only screen and (max-width: 1650px) {
    .header-text {
       
       font-size: 40px;
        
    }
    
    .main-text{
        font-size: 23px;
    }

}
@media only screen and (max-width: 1400px) {
    .header-text {
       
       font-size: 35px;
        
    }
    
    

}

@media only screen and (max-width: 1250px) {
    .recomandation-container {
        flex-wrap: wrap;
     }
    
    

}

/* phones max 600px */
@media only screen and (max-width: 600px) 
{ 
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .toggle-button {
        display: flex;
        
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .navbar-links li:hover {
        background-color: #F5F5F5;
    }
    .nav-link:hover::after {
        width: 0%;
        
    }



   .buttons{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
   }
    #showcase .button-pachete {
        font-size: 15px;
        margin:10px;
        
    }
    
    #showcase .button-contact {
        font-size: 15px;
        margin:10px;
        
    }
    #despre{
        flex-wrap: wrap;
    }

    #despre h1 {
        font-size: 30px;
        text-align: center;       
    }

    #despre img{
        margin:   50px 0px 0px 0px;
    }
    
    #despre p {
        font-size: 15px;
        text-align: center;
    }
    
    .header h1{
        font-size: 30px;
    }
    .header-text {
       
        font-size: 18px;
         
     }

    .main-text{
        font-size: 15px;
    }
    .galerie-container {
        flex-wrap: wrap;
    }


    .footer-container{
        flex-wrap: wrap;
    }
}